html {
  background-color: cadetblue;
}

.search-bar {
  margin: 20px 0px 30px 0px;
  align-self: center;
}

.search-bar input {
  width: 100%;
  height: 50px;
  text-align: center;

  font-size: large;
}

.list-group-item {
  cursor: pointer;
}

.list-group.item:hover {
  background-color: #eee;
}
